.contenedorOperacion {

  display: flex;
  flex-direction: column;
  align-items: center;

  border-width: 1px;
  border-radius: 16px;
  margin: 3em;
  padding: 3em;
  gap: 2em;
  background-color: rgba(179, 179, 179, 0.155);
  box-shadow: 0 0 1px 1px rgba(150, 150, 150, 0.42); /* Sombra blanca */
}

.tituloOperacion {
  color: rgb(186, 231, 96);
  text-align: center;
}

.contenedorDobleModulo {
  display: flex;
  flex-direction: column;
  font-size: 0.7em;
  gap: 1em;
}

.contenedorDobleModulo a {
  border-radius: 8px;
  color: rgb(235, 235, 235);
  background-color: rgb(24, 24, 24);
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  padding: 0.7em;
  transition: 0.3s;
}

.contenedorDobleModulo a:hover {
  color: rgb(186, 231, 96);
  background-color: rgb(84, 82, 82);
}
